{% extends "base.html" %} {% block content %}

<section class="py-7">

    <div class="container-lg">
        <div class="row h-100 justify-content-center">
            <div class="col-md-4 pt-4 px-md-2 px-lg-3" style="width: 50rem;">
                <div class="card h-100 w-100">
                    <div id="contacts" class="panel-collapse collapse show" aria-expanded="true">
                        <div id="info">
                            <div class="text-left" id="info-text">
                                <h1 class="text-center">Модерация</h1>
                                <p>&nbsp;&nbsp;&nbsp;&nbsp;Чтобы войти в панель модерирования, перейдите по ссылке: <a href="https://tagproject.sfedu.ru/admin" target="_blank">panel</a>.</p>
                                <p>&nbsp;&nbsp;&nbsp;&nbsp;Чтобы стать модератором, обратитесь к <a href="https://vk.com/kolokchik" target="_blank">администрации сайта</a>.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
</section>

{% endblock %}