{% extends "base.html" %} {% block content %}
{% load customtags %}

<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 17px;
        background-color: #fdfdfd;
    }
    
    .head_text {
        color: white;
    }
    
    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
    
    /* Markdown custom templates */
    /* "preview" templates */
    img[alt="preview <"] {
        float: left;
        max-width: 30%;
        height:auto;
        padding-right: 10px;
    }
</style>

<section class="py-7">

    <div class="container-lg">
        <div class="row h-100 justify-content-center">
            {% for new in news_list %}
                <div class="card mb-3 col-md-4 pt-0 px-md-2 px-lg-3" style="width: 50rem;">
                    <div class="card-body">
                        <h2 class="card-title"><a href="{% url 'new_detail' new.slug %}" style="text-decoration: none !important; color: black;">{{ new.title }}</a></h2>
                        <p class="card-text">{{ new.content | preview | custom_markdown | safe}}</p>
                    </div>
                    <div class="card-footer text-muted bg-transparent px-0">
                        <div class="float-left m-0">
                            <p class="card-text text-muted h6 float-top mb-0">Дата: {{ new.created_on}}</p>
                        </div>
                        <a href="{% url 'new_detail' new.slug  %}" class="btn btn-outline-danger float-right">Подробнее &rarr;</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

</section>

{% endblock %}