{% extends 'base.html' %} {% block content %}

<style>

.card-body {
    margin: 5%;
    margin-top: 1%;
}

</style>

<section class="py-7">
  <div class="container-lg">
      <div class="row h-100 justify-content-center">
          <div class="col-md-4 pt-4 px-md-2 px-lg-3" style="width: 50rem;">
              <div class="card h-100 w-100">
                    <div class="card-body">
                        <h1 class="text-center">Инструкция по проекту</h1>
                        <br>
                        <h2>Как работает?</h2>
                        <p class="card-text">Мобильное устройство с набором датчиков и камерой устанавливается на любой передвижной транспорт.</p>
                        <p class="card-text">В процессе движения, устройство фиксирует ямы на дорогах и отправляет их на сайт-карту</p>
                        <p class="card-text">Устройство распознает ямы с помощью нейросетей и компьютерного зрения. То есть данное устройство можно устанавливать как на общественный транспорт, так и на любое ТС.</p>
                        <p class="card-text">P.S. Возможно в дальнейшем можно будет отправить запрос на создание метки по ямам, не только по амброзии.</p>
                        <br>
                        <p class="card-text">Амброзия: Пользователь отправляет запрос из приложения, прикладывая фотографию проблемы.</p>
                        <p class="card-text">Желательно фотографировать именно куст амброзии в крупном виде, потому что он распознается компьютерным зрением, а не человеком. То есть запрос пользователя проходит машинную премодерацию.</p>
                        <br>
                        <h2>Как создать новую метку</h2>
                        <p class="card-text">Чтобы создать метку, необходимо загрузить приложение по ссылке: <a href="https://drive.google.com/file/d/1lWpgBHO_ETKGqU31hlONf1kDAW_nxxhR/view">скачать</a> разрешить ему геолокацию и включить геолокацию на телефоне.</p>
                        <p class="card-text">Затем нужно нажать на "+" в нижнем правом углу. Сделать фото, и запрос на создание метки отправится.</p>
                        <p class="card-text">Если ваш запрос пройдет премодерацию, то метка отобразится на карте.</p>                        
                    </div>
              </div>
          </div>
      </div>
  </div>

</section>

{%  endblock %}